<form
  [formGroup]="loginForm"
  (ngSubmit)="login()"
  class="flex flex-col bg-slate-200 p-8"
>
  <h2>Login</h2>
  <label for="login">Login</label>
  <mat-form-field>
    <input type="text" required matInput id="login" formControlName="login" />
    <mat-error>{{ getError("login") }}</mat-error>
  </mat-form-field>

  <label for="password">Password</label>
  <mat-form-field>
    <input
      type="password"
      required
      matInput
      id="password"
      formControlName="password"
    />
    <mat-error>{{ getError("password") }}</mat-error>
  </mat-form-field>

  <app-button
    type="submit"
    effect="raised"
    color="primary"
    class="self-end mt-9"
    >Login</app-button
  >
</form>
