<header class="flex justify-center">
  <div class="flex flex-col items-start p-8 gap-8">
    <div class="wrapper">
      <img src="assets/logo.png" alt="logo" />
      <div class="input-wrapper">
        <input [formControl]="searchCtrl" />
        <!-- <app-button color="primary" effect="raised" (click)="searchShow()"
          >search</app-button
        > -->
      </div>

      <button mat-icon-button (click)="showSettings.toggle()">
        <mat-icon svgIcon="settings-icon"></mat-icon>
      </button>

      <a routerLink="/fav">
        <mat-icon
          [fontIcon]="router.url === '/fav' ? 'favorite' : 'favorite_border'"
          color="primary"
        ></mat-icon>
      </a>
      <app-user class="absolute right-5"></app-user>
    </div>
    <app-settings *ngIf="showSettings.isShow"> </app-settings>
  </div>
</header>
