<div class="flex justify-center relative">
  <img
    [src]="item?.snippet?.thumbnails?.high?.url"
    [alt]="item?.id + 'image'"
  />
  <a routerLink="../" class="absolute right-full">
    <img src="assets/back_button.png" alt="back" class="max-w-none" />
  </a>

  <mat-card class="flex self-stretch">
    <mat-card-header>
      <mat-card-title> {{ item?.snippet?.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="grow">
      <div class="grow max-h-[210px] overflow-auto">
        <div>Description:</div>
        {{ item?.snippet?.description }}
      </div>
      <div class="statistics">
        <span>
          <mat-icon fontIcon="visibility"></mat-icon>
          {{ item?.statistics?.viewCount }}
        </span>
        <span>
          <mat-icon fontIcon="favorite"></mat-icon>
          {{ item?.statistics?.likeCount }}
        </span>
        <span>
          <mat-icon fontIcon="heart_broken"></mat-icon>
          {{ item?.statistics?.dislikeCount }}
        </span>
        <span>
          <mat-icon fontIcon="comment_multiple"></mat-icon>
          {{ item?.statistics?.commentCount }}
        </span>
      </div>
    </mat-card-content>
    <mat-card-footer
      appCardFooter
      [published]="item?.snippet?.publishedAt"
      class="h-1"
    ></mat-card-footer>
  </mat-card>
</div>
